<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/friends.css" media="screen">
  <title>Tasks</title>
</head>

<body>

  <%- include("./../general/nav") %>

  <main>
    <div class="panel" id="left_panel">
      <div class="sections">
        <h2>Solicitudes de amistad</h2>
        <ul>
          <% if(requestFriendsList.length >= 1 ){ %>
          <% requestFriendsList.forEach(user => { %>
          <li class="friend_send">
            <div class="friend">
              <a href="https://freecodecamp.org" class="logo-friend">
                <img src="resources/user.png" alt="freeCodeCamp logo">
                <%= user.name %>
              </a>
              <div class="button_cont">
                  <a class="button_control" href="accept/<%=user.id%> ">Aceptar</a>
              </div>
              <div class="button_cont">
                  <a class="button_control" href="denied/<%=user.id%> ">Rechazar</a></div>
              </div>
          </li>
          <% }) %>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="panel" id="right_panel">
      <div class="sections" id="users_search">
        <h2>Amigos</h2>
        <form action="search" method="POST">
          Buscar por nombre: <input type="text" name="name_search">
          <input type="submit" value="Buscar" class="button_control">
        </form>

        <div class="sections" id="users_list">
            <h2>Busqueda de amigos</h2>
            <ul>
              <% if(friendsList.length >= 1 ){ %>
              <% friendsList.forEach(user => { %>
              <li>
                <div class="friend">
                  <a href="https://freecodecamp.org" class="logo-friend">
                    <img src="resources/user.png" alt="freeCodeCamp logo"> <%= user.name %>
                  </a>
                </div>
              </li>
              <% }) %>
              <% } %>
            </ul>
          </div>
      </div>
    </div>
  </main>
</body>

</html>
