<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/user.css" media="screen">
  <title><%= userInfo.name %> profile</title>
</head>

<body>

  <%- include("./../general/nav") %>

  <main>
    <div class="card">
      <img src="image/<%= userInfo.userId %>" alt="user profile image" style="width:100%" />
      <h1> <%= userInfo.name %> </h1>
      <p class="bio"><%= userInfo.email %></p>
      <i class="fa fa-age"> <%= userInfo.birthday %> </i>
      <i class="fa fa-genre"> <%= userInfo.genre %> </i>
      <i class="fa fa-score">200pts</i>
      <p><a class="button" href="/user/modify">Modificar</a></p>
    </div>
  </main>
</body>

</html>