<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css" media="screen">
    <title>Tasks</title>
</head>

<body>

    <%- include("./../general/nav") %>
    
    <main>
      <div class="sections">
        <h2>Busqueda con: <%= name %></h2>
        <%- include("./../general/flash") %>
        <ul>
          <% usersList.forEach(user => { %>
          <li>
              <div class="friend">
                <a href="/user/profile/<%= user.id %>" class="logo-friend">
                  <img src="/user/image/<%= user.id %>" alt="user profile image"> <%= user.name %>
                </a>
                <div class="button_cont">
                  <a class="button_control" href="/user/requestFriend/<%=user.id%>">Solicitar amistad</a>
                </div>
              </div>
          </li>
          <% }) %>
        </ul>
        
      </div>
    </main>
</body>

</html>
