<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/question.css" media="screen">
  <title>Question page</title>
</head>

<body>

  <%- include("./../general/nav") %>

  <main>
    <div class="panel" id="left_panel">
      <div class="sections">
        <h1> <%= question.text %> </h1>
          <p>Tu respuesta: <%= answer %></p>
        <div class="button_cont"><a class="button_control" href="/game/answer/<%= question.questionId %>" >Contestar pregunta</a></div>
      </div>
    </div>
    <div class="panel" id="right_panel">
      <div class="sections" id="friends_list">
        <ul>
          <% friends.forEach(friend => { %>
            <li>
              <div class="friend">
                <a href="/user/profile/<%= friend.id %>" class="logo-friend">
                  <img src="/user/image/<%= friend.id %>" alt="user profile image">
                  <%= friend.name %>
                </a>
                <% if(friend.guess == null){ %>
                  <div class="button_cont"><a class="button_control" href="/game/question/<%= question.questionId %>/guess/<%= friend.resId %>">ADIVINAR</a>
                <% } else if(friend.guess){%>
                  <div class="text-question acierto">Has acertado</div>
                <% } else{ %>
                  <div class="text-question fallo">Has fallado</div>
                <% } %>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </main>
</body>

</html>
